<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">    <meta charset="UTF-8">
    <title>request demo</title>
    <script type="text/javascript" src="../lib/jquery/jquery-3.0.0.min.js"></script>
    <link rel="stylesheet" href="../lib/layui-v2.4.5/layui/css/layui.css">
    <link rel="stylesheet" href="../css/articlecontent.css">
    <link rel="stylesheet" href="../css/base.css">
    <meta charset="UTF-8">

    <title>Title</title>
</head>
<body onload="get_article_comments()">
<div>
<ul class="layui-nav" lay-filter="">
    <li class="layui-nav-item layui-this">
        <a href="search_school.html">讨论区</a></li>
    <li class="layui-nav-item">
        <a href="book.html?page=1">书籍</a></li>
    <li class="layui-nav-item">
        <a href="video.html?page=1">视频</a></li>
    <li class="layui-nav-item">
        <a href="psychology.html?page=1">心理咨询</a>
    </li>
    <li class="layui-nav-item">
        <a href="userinfo.html">我的</a></li>
</ul>
    <div class="link_info_div"></div>
<div class="all_article_content_div">


     <div id="article_title"></div>
    <div id="article_author_name"></div>
    <div id="article_create_time"></div>
    <hr>
<div id="article_content" class="layui-bg-gray"></div>
    <hr>
<p>添加评论:</p>
<!--<div id="comment_demo" type="text" style="width:80px;height:20px;" contenteditable="true"></div>-->
<div  class="comments_create_div">
<textarea id="comment_demo" style="display: none"></textarea>
</div>

<button id="subbmit_comments" class="layui-btn layui-btn-normal" onclick="create_commnets()">评论</button>
    </br>
    <hr>
<div id="article_comments">
    <table id="Commernts_tab">

        <!--<button type="button" id="comments_record" >回复</button>  <br />-->

    </table>

</div>




<button value="Back" onclick="goBack()">返回上一页</button>
</div>
</div>
<script src="../lib/layui-v2.4.5/layui/layui.js"></script>
<script type="text/javascript" src="../js/articlecontent.js">

</script>
</body>
</html>