<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>考研一站式服务平台</title>
    <script type="text/javascript" src="../lib/jquery/jquery-3.0.0.min.js"></script>



    <link rel="stylesheet" href="../lib/layui-v2.4.5/layui/css/layui.css">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
       
    <title>QQ Test</title>


</head>
<body onload="aaaaaaaaaaa()">
    <div id="word">
        <input id="english" type="text">
        <div id="chinese"></div>
        <button id="submit" onclick="getTranslation()">ok</button>
    </div>
    <div id="random">
        <button id="getRand" onclick="getRand()">获取随机单词</button>
        <div>
            <p id="ran_word"></p>
            <p id="ran_trans"></p>
        </div>
    </div>
    <!--书籍搜索区-->
    <div id="book">
        <input id="num" type="text">
        <div id="bookinfo"></div>
        <div id="bookinfo1">
        <table id="tab">

        </table>
        </div>
        <button id="submit1" onclick="getBook()">go</button>
    </div>



   <!--视频播放区-->
    <div id ="video">
        <input id="Search_video" type="text">
        <div id="video_info">

        </div>
        <table id="video_tab">

        </table>
        <button id="submit_video" onclick="getVideo()">搜索</button>



    </div>



    <!--&lt;!&ndash;视频播放测试&ndash;&gt;-->
    <!--<div class="m" style="height: 900px">-->
        <!--<button id="submit2" onclick="getVideo1()">go</button>-->
        <!--<video id="example_video_1" class="video-js vjs-default-skin" controls preload="none" width="640" height="264"  poster="http://vjs.zencdn.net/v/oceans.png">-->
            <!--<source src="C:\Users\者\Desktop\01.mp4" type="video/mp4">-->
        <!--</video>-->
        <!--<iframe src="//player.bilibili.com/player.html?aid=22037220&cid=31621681&page=1" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true" width="480" height="350"> </iframe>-->
        <!--<embed src="//player.video.iqiyi.com/c7fc54af39dbf5fc38ebaaff827eb951/0/0/v_19rrntfzyc.swf-albumId=363506600-tvId=363506600-isPurchase=0-cnId=undefined" allowFullScreen="true" quality="high" width="480" height="350" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>-->
        <!--<iframe src="http://open.iqiyi.com/developer/player_js/coopPlayerIndex.html?vid=c7fc54af39dbf5fc38ebaaff827eb951&tvId=363506600&accessToken=2.f22860a2479ad60d8da7697274de9346&appKey=3955c3425820435e86d0f4cdfe56f5e7&appId=1368&height=100%&width=100%" frameborder="0" allowfullscreen="true" width="100%" height="100%"></iframe>-->
    <!--</div>-->


    <iframe src="http://player.bilibili.com/player.html?aid=6117110&cid=9931722&page=1" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"> </iframe>

   <!--联系客服-->

    <a href="tencent://message/?uin=2102869981&Site=http://vps.shuidazhe.com&Menu=yes"><button 	class="layui-btn layui-btn-radius layui-btn-warm">私聊</button></a>   
    <a href="mqqwpa://im/chat?chat_type=wpa&uin=输入QQ号&version=1&src_type=web&web_src=oicqzone.com">移动版</a>

    <a target="_blank" href="tencent://message/?uin=2102869981&Site=qq&Menu=yes">消息</a>
    <!--创建文章-->
    <div id="article_create">

          <input id="article_t" type="text">
          <input id="article_s" type="text">
          <input id="article_c" type="text">
        <button id="submit_article" onclick="Create_article()">发布</button>
    </div>
    <div id="article_info"></div>

    <!--文章展示-->
    <div id="article_form">
      <input id="search_article" type="text">\
      <button id="submit_article1" onclick="get_article()">搜索</button>
      <div id="article_title"></div>
        <div id="article_content"></div>
        <div id="article_comments">
            <table id="Commernts_tab">

            </table>
        </div>
    </div>
<!--登陆-->
    <div id="user_login">
        <input id="user_name" type="text">
        <input id="use_passwword" type="text">
        <button id="subit_login" onclick="User_login()">登陆</button>
        <div id="user_info">
            <div id="user_id_info"></div>
            <div id="user_name_info"></div>
            <div id="user_password_info"></div>
        </div>
    </div>
    <script src="../lib/layui-v2.4.5/layui/layui.js"></script>
    <script type="text/javascript" src="../js/hello.js"></script>

    <form id="FormContact" method="post" action="verify_code">
        <!-- 联系方式 -->
        <div class="form-wrap contact-info" id="FormWrapContact">
            <div class="field-wrap" data-field="mobile" style="position:relative;z-index:100;">
                <label class="short">手机号：</label>
                <span class="field">
                     					    <span class="ui-text">
                                                            <input name="mobile" value="" type="mobile" placeholder="请输入您的手机号码" data-format="number" />
                     					    </span>
                     					    <span class="error"></span>
                     					</span>
            </div>
            <!--<div class="field-wrap" data-field="mobile" style="position:relative;z-index:100;">-->
                <!--<label class="short">验证码：</label>-->
                <!--<span class="field">-->
                                                                 <!--<input class="ui-text short" type="text" name="verify_code" maxlength="4" >-->
                                                                 <!--<span class="error" style="display: inline;"></span>-->
                                                             <!--</span>-->
                <!--<span class="field vcode" data-type="vcode">-->
                                                                 <!--<img  width="120" id="verify_code_img" height="32" src="/getImg" onclick="javascript:changeImg()">-->
                                                                 <!--<a href="#" class="doc-color-link desc" onclick="javascript:changeImg()" >看不清，换一个？</a>-->
                                                             <!--</span>-->
            <!--</div>-->

            <div class="field-wrap" data-field="mobile" style="position:relative;z-index:100;">
                <label class="short">短信验证码：</label>
                <span class="field">
                                                                 <span class="get-mvcode">
                                                                     <input class="ui-text short" type="text" name="sms_vcode" length="6" data-format="number" maxlength="6" />
                                                                     <input id="sendSms" class="ui-btn gray" type="button" name="getMvcode" onclick="getvercodenuber()" value="点击获取" />
                                                                 </span>
                                                                                                                                 <div class="error"></div>
                                                                                                                                 <span class="info" style="display:none;">
                                                                 请将收到短信中的6位数字填入框内
                                                                 </span>
                     					</span>
            </div>
            <div class="field-wrap" style="z-index:8;">
                <label class="short"></label>
                <span class="field">
                     						<input class="ui-btn green long" name="contactPost" type="button" onclick="verifycode_check()" value="登录" />
                     					</span>

            </div>

        </div>
    </form>
    <!--&lt;!&ndash; 触发JS刷新  切换图片&ndash;&gt;-->
    <!--<script type="text/javascript">-->
        <!--function changeImg(){-->
            <!--var img = document.getElementById("verify_code_img");-->
            <!--img.src = "/getImg?date=" + new Date();-->
        <!--}-->

    <!--</script>-->


    <!--&lt;!&ndash; 发送短信验证码&ndash;&gt;-->

    <!--<script type="text/javascript">-->
        <!--$('#sendSms').bind('click',function(){-->
            <!--var mobile = $("input[name='mobile']").val();//手机号-->
            <!--var verifyCode = $("input[name='verify_code']");//手机验证码-->
            <!--var vcode = verifyCode.val();//验证码-->
            <!--var me = $(this);-->
            <!--if(mobile.length != 11){-->
                <!--$("input[name='mobile']").parentsUntil('.form-wrap','.field-wrap').find('.error').html('手机号码错误').show();-->
                <!--return;-->

            <!--}-->
            <!--// if(vcode.length < 4){-->
            <!--//     $(verifyCode).parentsUntil('.form-wrap','.field-wrap').find('.error').html('验证码错误').show();-->
            <!--//     return;-->
            <!--// }-->
            <!--if($('[name="getMvcode"]').hasClass("doing")){-->
                <!--return;-->
            <!--}-->
            <!--$('[name="getMvcode"]').addClass("doing").val('正在发送');-->
            <!--$.ajax({-->
                <!--url : '/sendSms',-->
                <!--data:  {-->
                    <!--mobile:mobile,-->
                    <!--verify_code:vcode-->
                <!--},-->
                <!--type: 'POST',-->
                <!--dataType: 'json',-->
                <!--success:function(data){-->
                    <!--if(data.code == 0){-->
                        <!--countdownHandler();-->
                    <!--}else{-->
                        <!--$("input[name='sms_vcode']").val('').parentsUntil('.form-wrap','.field-wrap').find('.error').html(data.message).show();-->
                        <!--var img_url = $('#verify_code_img').attr('src');-->
                        <!--$('#verify_code_img').attr('src',img_url+'1');-->
                        <!--$('[name="getMvcode"]').removeClass("doing");-->
                        <!--$('#sendSms').val("点击获取");-->
                    <!--}-->
                <!--}-->
            <!--});-->

            <!--//短信验证码倒计时-->
            <!--function  countdownHandler(){-->
                <!--var $button = $("#sendSms");-->
                <!--var number = 60;-->
                <!--var countdown = function(){-->
                    <!--if (number == 0) {-->
                        <!--$button.attr("disabled",false);-->
                        <!--$button.html("发送验证码");-->
                        <!--number = 60;-->
                        <!--return;-->
                    <!--} else {-->
                        <!--$button.attr("disabled",true);-->
                        <!--$button.html(number + "秒 重新发送");-->
                        <!--number&#45;&#45;;-->
                    <!--}-->
                    <!--setTimeout(countdown,1000);-->
                <!--}-->
                <!--setTimeout(countdown,1000);-->
            <!--}-->
        <!--});-->
        <!--&lt;!&ndash; 提交 &ndash;&gt;-->
        <!--$('input[name="contactPost"]').click('click',function() {-->
            <!--var mobile = $("input[name='mobile']").val();-->
            <!--var smsCode = $("input[name='sms_vcode']").val();-->

            <!--if (mobile.length != 11) {-->
                <!--$("input[name='mobile']").parentsUntil('.form-wrap', '.field-wrap').find('.error').html('手机号码输入错误').show();-->
                <!--return;-->
            <!--}-->

            <!--if (smsCode.length < 4) {-->
                <!--$("input[name='sms_vcode']").parentsUntil('.form-wrap', '.field-wrap').find('.error').html('手机验证码错误').show();-->
                <!--return;-->
            <!--}-->
            <!--$.ajax({-->
                <!--url: "/register",-->
                <!--async : true,-->
                <!--type: "post",-->
                <!--dataType: "text",-->
                <!--data: data,-->
                <!--success: function (data) {-->
                    <!--if(data == 'success'){-->
                        <!--alert("注册成功");-->
                        <!--return ;-->
                    <!--}-->
                    <!--alert(data);-->
                <!--}-->
            <!--});-->

        <!--});-->

    <!--</script>-->

    <script src="https://cdn.dingxiang-inc.com/ctu-group/captcha-ui/index.js">

    </script>
<div id="img_verify11111"></div>
</body>
</html>