<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>考研一站式服务平台</title>
    <script type="text/javascript" src="../lib/jquery/jquery-3.0.0.min.js"></script>


    <link rel="stylesheet" href="../lib/layui-v2.4.5/layui/css/layui.css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/otheruser.css">
    <link rel="stylesheet" href="../css/psychology.css">
    <meta charset="UTF-8">

    <title>Title</title>
</head>
<body>
<ul class="layui-nav" lay-filter="">
    <li class="layui-nav-item">
        <a href="search_school.html">讨论区</a>
    </li>
    <li class="layui-nav-item">
        <a href="book.html?page=1">书籍</a>
    </li>
    <li class="layui-nav-item">
        <a href="video.html?page=1">视频</a>
    </li>
    <li class="layui-nav-item layui-this">
        <a href="psychology.html?page=1">心理咨询</a>
    </li>
    <li class="layui-nav-item">
        <a href="userinfo.html">我的</a>
    </li>
</ul>
<div class="link_info_div">
    <br>
    <br>
    <b>相关链接：</b>
    <br>
    <br>
    <a href="https://yz.chsi.com.cn/">中国研究生招生信息网</a>
    <br>
    <br>
    <a href="http://yjsy.sdust.edu.cn/zhaoshenggongzuo/shuoshizhaosheng/">山东科技大学研究生招生信息网</a>
    <br>
    <br>
    <a href="https://www.chsi.com.cn/">学信网</a>
    <br><br>
    <a href="http://www.yz.sdu.edu.cn/">山东大学研究生招生信息网</a>
    <br><br>
    <a href="http://yz.ouc.edu.cn/">中国海洋大学研究生招生信息网</a>
</div>
<!--<div id="school_discuss_info" class="school_discuss_info_div">-->
    <!--<div id="school_name_info"></div>-->
    <!--<p id="school_create_time_info">创建于:</p><div id="school_created_info"></div>-->
    <!--<p id="school_article_count_info">帖子数:</p><div id="school_article_count"></div>-->
    <!--<a id="guanzhu_btn" onclick="guanzhu()"></a>-->
<!--</div>-->
<!--<div id="user_photo_info">-->

<!--</div>-->
<!--<img src="/image/44%20(1).jpg" style="width:100px; height:100px; border-radius:50%; "/>-->
<!--<div id="user_id_info"></div>-->
<!--<div id="user_name_info"></div>-->
<!--<div id="user_password_info"></div>-->
<!--文章展示-->
<div class="all_psychology">
    <div id="psychology_create" style="display: none">
        <button id="create_article_btu" class="layui-btn" onclick="show_pschology_create_article()">
        <i class="layui-icon">&#xe608;</i> 创建文章
        </button>
    </div>


    <input id="search_psychology_article" type="text" name="title" required lay-verify="required" placeholder="请输入文章关键字"  class="layui-input" style="width: 200px">
    <button id="submit_psychology_article1" onclick="get_psychology_article()" class="layui-btn layui-btn-normal">搜索</button>
    <div id="psychology_article_info"></div>
    <button id="ps_up_page_btu" onclick="ps_up_page()" class="layui-btn">上一页</button>
    <button id="ps_next_page_btu" onclick="ps_next_page()" class="layui-btn">下一页</button>
</div>
</div>

<script src="../lib/layui-v2.4.5/layui/layui.js"></script>
<script type="text/javascript" src="../js/psychology.js"></script>
</body>
</html>