<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>request demo</title>
    <script type="text/javascript" src="../lib/jquery/jquery-3.0.0.min.js"></script>
    <!--
    videojs
    -->


    <link rel="stylesheet" href="../lib/layui-v2.4.5/layui/css/layui.css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/register.css">
    <meta charset="UTF-8">

    <title>Title</title>
</head>
<body>

<div class="all_register_div">
    <div class="register_div">

        <div class="register_info_div">
            <div id="showimg"></div>
    <p>请添加头像:</p> <input type="file" id="fileName" style="display: none"/>
    <br>
        <button type="button" class="layui-btn" id="register_photo_upload" onclick="fileName.click()">
            <i class="layui-icon">&#xe67c;</i>上传图片
        </button>
    <br>
    <p>请输入用户名:</p>
    <br><input id="R_user_name" type="text" name="title" required lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input" style="width: 230px" />
    <br>
    <p>请输入密码:</p>
    <br><input id="R_user_password" type="password" name="title" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input" style="width: 230px"/>
    <br>
    <p>请输入手机号:</p>
    <!--<br><input  type="text" name="title" required lay-verify="required" placeholder="请输入邮箱" autocomplete="off" class="layui-input" style="width: 200px" />-->
            <input id="R_user_email" name="mobile" value="" type="mobile" placeholder="请输入您的手机号码" data-format="number" class="layui-input" style="width: 230px" />
    <br>
            <p>请输入验证码:</p>
            <input type="text" name="sms_vcode" length="6" data-format="number" maxlength="6" class="layui-input" style="width: 100px"/>
            <input id="sendSms"  type="button" name="getMvcode" onclick="getvercodenuber()" class="layui-input" style="width: 110px" value="点击获取" />

    <button id="submit_user" onclick=" verifycode_check();User_register();" class="layui-btn layui-btn-radius" style="margin-left: 50px">注册</button>
    <div id="show_register_info" style="display: none" class="register_return_div">
        <div id="fail_info"></div>
        <div class="infomation_button"><button onclick="hide_register_info()" class="layui-btn layui-btn-radius">确定</button></div>
    </div>
        </div>
    </div>

</div>
    <script src="../lib/layui-v2.4.5/layui/layui.js"></script>
    <script type="text/javascript" src="../js/register.js"></script>
</body>
</html>