#article_id{
    font-size: 25px;

}

#article_title{
    font-size: 25px;
    text-align:center
}
#article_content{
    width: 860px;
    font-size: 18px;
    border: gainsboro 1px solid;
    position: relative;
    left: 20px;

}
#subbmit_comments{
    position: relative;
    top:-92px;
    left: 750px;
}
.comments_div{
    width: 800px;

    border: gainsboro 1px solid;
    position: relative;
    left: 50px;
}

.comments_create_div{
    width: 800px;
    position: relative;
    left: 50px;
}

.reply_button{
    position: relative;
    left: 740px;
    top: -50px;
}
.show_reply_button{
    position: relative;
    left: 716px;
    top: -45px;
}
.reply_button_div{
    position: relative;
    left: 550px;
    top: -45px;
}
.comment_user_name_div{
    position: relative;
    left: 120px;
    top: -15px;
}
.comment_user_photo_div{
    position: relative;
    left: 50px;
    top: 15px;
}
.comments_reply_area{
    position: relative;
    left: 30px;
    top: -35px;
}

.reply_content_class{
    position: relative;
    left:60px;
    top: -40px;
    font-size: 15px;
}