.all_div{
    width: 900px;
    border: #4E5465 1px solid;
    position: absolute;
    right: 200px;
}
.input_style{
    width:200px;
    height: 36px;

}


.link_info_div{
    width: 240px;
    height: 500px;
    background-image: url("../bookimage/user.jpg");
    background-size:100% 100%;
    position: fixed;
    left: 2px;
    top: 100px;
}