.all_book_div{
    width: 900px;
    height:1000px;
    border: #4E5465 1px solid;
    position: absolute;
    right: 200px;
}

#search_results{
    width:700px ;
    height: 700px;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    left: 100px;
    top:100px;
}

.book_info_div{
    width: 200px;
    height: 300px;
    background-color: #2D93CA;
    box-shadow: #0C0C0C 8px 8px 5px;

}
.search_book_div{
    position: relative;
    left:300px;
    top:70px;
}
#book_button_div{
    position: relative;
    left:370px;
    top:100px;
}

.book_gouwucar_photo_class{
    position: relative;
    left:800px;
    top:20px;
}

.search_book_num{
    position: relative;
    left:10px;
    top:10px;
}
.search_book_name{
    position: relative;
    left:30px;
    top:30px;
}
.search_book_photo{
    position: relative;
    left:5px;
    top:20px;
}
.search_book_price{
    position: relative;
    left:30px;
    top:30px;
}