.all_book_div{
    width: 900px;
    height:1000px;
    border: #4E5465 1px solid;
    position: absolute;
    right: 200px;
}

#search_results{
    width:700px ;
    height: 700px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    left: 100px;
}

.book_info_div{
    width: 200px;
    height: 300px;
    background-color: #2D93CA;
    box-shadow: #0C0C0C 8px 8px 5px;

}