.all_psychology{
    width: 900px;
    height:1000px;
    border: #4E5465 1px solid;
    position: absolute;
    right: 200px;
    background-image: url("../bookimage/discuss.jpg");
    background-size:100% 100%;
}


#search_psychology_article{
    position: relative;
    left: 500px;
    top:20px;
}
#submit_psychology_article1{
    position: relative;
    left: 705px;
    top:-18px;
}

#psychology_create{
    position: relative;
    left: 50px;
    top:62px;
}

.article_href_div{
    width:800px;
    height:100px;
    border:#E9E7E7  1px solid;
    position: relative;
    left:50px;
    box-shadow: #9F9F9F 5px 5px 3px;
}


.article_title{
    font-size:20px ;
    color: #007DDB;
    position: relative;
    left:20px;
    top:10px ;
}

.article_summary{
    font-size:17px ;
    position: relative;
    left:20px;
    top:35px ;
}
.article_create_div{
    width: 300px;
    font-size:15px ;
    color: #f8b757;
    position: relative;
    left: 550px;
    top:20px ;
}

#ps_up_page_btu {
    position: relative;
    left: 350px;
    top: 10px;

}
#ps_next_page_btu{
    position: relative;
    left: 350px;
    top: 10px;
}