.Search_school_all_div{
    width: 900px;
    height: 600px;
    border: #4E5465 1px solid;
    position: absolute;
    right: 200px;
    background-image: url("../bookimage/discuss.jpg");
    background-size:100% 100%;

}

.search_school_div{
    width:500px;
    height:100px;
    position: absolute;
    right: 180px;
    top:200px;
}